<div class="calc-ui">

  <!--TITLE---------------------------------->
  <div class="calc-ui-title mb-4">
    <h1 class="font-bold text-design-slate-900 text-2xl">Mortgage Calculator</h1>
    <a class="text-sm underline text-design-slate-500" href="#" (click)="clearAll()">Clear All</a>
  </div>
  <!--MORTGAGE AMOUNT FORM---------------------------------->
   <div class="calc-ui-form">
     <form class="inline" [formGroup]="mortgageForm" (ngSubmit)="calculateMortgage()">
       <!--principal amount---------------------------------->
       <div class="calc-ui-form-amount mb-4">
         <label class="text-sm text-design-slate-500 ">Mortgage Amount
         <input type="number" formControlName="principalAmount"
          class="calc-ui-form-input mt-2 w-full border-2 border-design-slate-500 p-2 rounded
          text-sm font-bold text-design-slate-900
          "/>
         </label>
         <p class="mt-2 text-sm text-red-500">This input is required</p>
       </div>

       <!--mortgage term & interest rate---------------------------------->
       <div class="calc-ui-form-mortgage flex flex-col lg:flex-row lg:justify-between">

         <!--terms---------------------------------->
         <div class="calc-ui-form-term-mortgage-terms mb-4 lg:w-[49%]">
           <label class="text-sm text-design-slate-500">Mortgage Term
             <input type="number" formControlName="numberOfPayments"
             class="calc-ui-form-input mt-2 w-full border-2 border-design-slate-500 p-2 rounded
             text-sm font-bold text-design-slate-900"/>
           </label>
           <p class="mt-2 text-sm text-red-500">This input is required</p>
         </div>
         <!--interest rate---------------------------------->
         <div class="calc-ui-form-term-mortgage-interest mb-4 lg:w-[49%]">

           <!--interest rate---------------------------------->
           <label class="text-sm text-design-slate-500">Interest Rate
             <input type="number" formControlName="interestRate"
                    class="calc-ui-form-input mt-2 w-full border-2 border-design-slate-500 p-2 rounded
             text-sm font-bold text-design-slate-900"/>
           </label>
           <p class="mt-2 text-sm text-red-500">This input is required</p>
         </div>
       </div>

         <!--Mortgage Type 2 radio---------------------------------->
         <div class="">
           <span class="text-sm text-design-slate-500 ">Mortgage Type</span>
           <!--Repayment radio---------------------------------->
           <div class="w-full border-2 border-design-slate-500 p-2 rounded mt-2 mb-2">
             <label class="font-bold" >
             <input type="radio" name="mortgageType" value="REPAYMENT" formControlName="mortgageType"
                    (change)="mortgageForm.controls['mortgageType'].setValue('REPAYMENT')"
             class="mr-2 "> Repayment
             </label>
           </div>

           <!--Interest Only radio---------------------------------->
           <div class="mb-8">
              <div class="w-full border-2 border-design-slate-500 p-2 rounded mt-2 mb-2">
               <label class="font-bold">
                 <input type="radio" name="mortgageType" value="INTEREST_ONLY" formControlName="mortgageType"
                        (change)="mortgageForm.controls['mortgageType'].setValue('INTEREST_ONLY')"
                        class="mr-2 "> Interest Only
               </label>
             </div>
             <p class="mt-2 text-sm text-red-500">This input is required</p>
           </div>
         </div>



       <div class="calc-ui-btn">

         <button type="submit"
                 class="calc-ui-btn-submit bg-design-primary-lime text-design-slate-900
                 text-md font-bold py-4 px-6 rounded-3xl
          ">
           <i class="fa fa-calculator font-bold text-design-slate-900 mr-2"></i>
           Calculate Repayments</button>
       </div>
     </form>

   </div>



</div>
